div#header { background-color: lightgrey; padding: 5px}
a:link {text-decoration: none}
a.summary {font-weight:bold; color: black}
a.runningjobs {font-weight:bold; color: green}
a.queuedjobs {font-weight:bold; color: #FF9900}
a.blockedjobs {font-weight:bold; color: red}
a.nodeoverview {font-weight:bold; color: black}
a.useroverview {font-weight:bold; color: black}
a.gangliamain {font-weight:bold; color: black}
td {vertical-align:top}
